.img{
    width: 417px;
    height: 414px;
    margin-top: 104px;
    margin-left: 252px;
    border-radius: 10px 0px 0px 10px;
    opacity: 1;
 }
 
 .welcome {
     display: flex;
   }
 
 .container1{
     text-align: center;
     align-content: left;
     height: 414px;
     width: 417px;
     background-color: rgb(255, 255, 255);
     margin-top: 104px;
     border-radius: 0px 10px 10px 0px;
     opacity: 1;
 }
 
 .loginPage{
     top: 163px;
     left: 894px;
     text-align: center;
     /* width: 66px;
     height: 69px; */
     opacity: 1;
 }

 .logo {
    margin-left: -16px;
    font-family: "Louis George Cafe";
 }
 
 .required {
     color: #3383fc;
     margin-top: -2px;
   }
    .form {
     border: 1px solid #72C7D9;
     border-radius: 5px;
     margin-bottom: 28px;
     display: flex;
     width: 88%;
    }
 
    .form-control:focus{
        outline: none;
        border: 0px; 
    }

   .form-control {
     font-family: "Louis George Cafe";
     font-weight: "regular";
     font-size: 15px;
     /* width: 349px; */
     height: 38px;
     /* margin-bottom: 35px; */
     /* border: 1px solid var(--unnamed-color-72c7d9);  */
     background: #FFFFFF 0% 0% no-repeat padding-box;
     border: 0px solid #72C7D9;
     /* border-radius: 5px; */
     opacity: 0.8;
   }
   
  .label {
      display: flex;
  }
 
  .check {
     margin-top: -20px;
     margin-left: 137px;
     
     letter-spacing: var(--unnamed-character-spacing-0);
     color: var(--unnamed-color-172b4d);
     text-align: left; 
     font: normal normal normal 13px/20px Louis George Café;
     letter-spacing: 0px;
     color: #172B4D;
     opacity: 1;
  }
 
  .custom-control-label {
  
     margin-top: -5px;
     margin-left: 5px;
     text-align: right;
     
  }
 
  .custom-control-input{
     margin-top: 16px;
     margin-left: -111px;
    
  }
 
  .button {
     top: 521px;
     left: 872px;
     width: 90px;
     height: 41px;
     border-color: transparent;
     background: var(--unnamed-color-3383fc) 0% 0% no-repeat padding-box;
     background: #3383FC ;
     border-radius: 4px;
     opacity: 1;
     outline-color: transparent;
     transition-duration: .8s;
     font-weight: bold;
  }
 
  .signup{
     top: 639px;
     margin-left: 129px;
     width: 142px;
     height: 16px;    
     letter-spacing: var(--unnamed-character-spacing-0);
     text-align: left;
     letter-spacing: 0px;
     opacity: 1;
     font-size: 12px;
  }
 
 .qberaa {
     color: white;
 }
 
 .input-icon{
     width: 20px;
     margin: 0px 10px;
     
 }

 .content {
    font-family: "louis-george-cafe";
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-172b4d);
    text-align: center;
    font: normal normal normal 15px/20px Louis George Café;
    letter-spacing: 0px;
    color: #172B4D;
    opacity: 1;
    margin-top: 34px;
  
 }

 .input-button {
     color: white;
 }